// Accent colors
$primary-color: #ED2736;
$secondary-color: #FD5A5A;
$tertiary-color: #FA9410;

// Text colors
$primary-text-color: #343a3d;
$secondary-text-color: #FFFFFF;
$tertiary-text-color: #FF4D4D;

// Container colors
$primary-container-color: #ED2736;
$secondary-container-color: #FAFAFA;
$tertiary-container-color: #272525;


