// Button heights 
$small-button: 40px;
$medium-button: 28px;
$large-button: 56px;

/*  
    -------- Text sizes --------
    
    Mobile
        Smallest: 12px
        Details: 13 - 14px
        Body Text: 16 - 18px
        Subtitle: 18 - 20px
        Title: 24 - 28px;
        Header: 32 - 38px

    Desktop
        Smallest: 16px
        Details: 16 - 18px
        Body Text: 20 - 21px
        Subtitle: 21 - 24px
        Title: 34 - 38px;
        Header: 40 - 48px
*/

