.amount-dishe-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: $primary-color;
    max-width: 100px;
    &__subtract, &__add {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #e4e4e4f4;
        position: relative;
        cursor: pointer;
    }
    &__subtract::after {
        content: '';
        display: block;
        width: 15px;
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__add::after {
        content: '';
        display: block;
        width: 15px;
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__add::before {
        content: '';
        display: block;
        width: 15px;
        height: 2px;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    &__current {
        font-size: 16px;
        font-weight: bold;
        width: 20px;
        outline: none;
        border: none;
        text-align: center;
        color: $primary-color;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type=number] {
            -moz-appearance: textfield;
        }
    }
}