* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 15px;
    width: 100vw;
    max-width: 100%;
}
body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}