.hero {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__text {
        align-self: flex-start;
        &__title {
            font-family: 'Patua One', cursive;
            font-size: 4.6rem;
            font-weight: 400;
            color: $primary-color;
            margin: 90px 0 0 0;
        }
        &__paragraph {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.6;
            color: $primary-text-color;
            margin: 40px 0 0 0;
        }
        &__link {
            width: 175px;
            height: 52px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            background-color: $primary-color;
            color: $secondary-text-color;
            margin: 80px 0 0 0;
            img {
                width: 34px;
            }
        }
    }
    &__img {
        img {
            max-width: 450px;
            display: block;
        }
    }
}

@media (max-width: 990px) {
    .hero {
        .container {
            flex-direction: column;
        }
        &__text {
            width: 100%;
            text-align: center;
            &__title {
                margin: 25px;
            }
            &__link {
                width: 200px;
                gap: 15px;
                margin: 50px auto;
                img {
                    width: 34px;
                }
            }
        }
        &__img {
            order: -1;
            img {
                max-width: 300px;
                display: block;
            }
        }
    }
}