.home-page {
    footer {
        margin-top: 0;
    }
}
.hero {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__text {
        align-self: flex-start;
        &__title {
            font-family: 'Patua One', cursive;
            font-size: 4.2rem;
            font-weight: 400;
            color: $primary-color;
            margin: 90px 0 0 0;
        }
        &__paragraph {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.4;
            color: $primary-text-color;
            margin: 40px 0 0 0;
            word-break: break-word;
        }
        &__link {
            gap: 10px;
            margin: 80px 0 0 0;
            img {
                width: 34px;
            }
        }
    }
    &__img {
        img {
            max-width: 450px;
            display: block;
        }
    }
}

.main-dishes {
    &__title {
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        color: $secondary-text-color;
        background-color: $primary-color;
        margin: 0;
        word-break: break-word;
    }
}

.restaurant-menu {
    &__title {
        font-size: 32px;
        color: $primary-text-color;
        text-transform: uppercase;
        word-break: break-word;
    }
    &__paragraph {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        word-break: break-word;
    }
    &__title-type-dishe {
        font-size: 28px;
        font-family: 'Montserrat', sans-serif;
        color: $tertiary-text-color;
        padding: 10px;
        border-bottom: 2px solid $primary-color;
        text-transform: uppercase;
    }
    .card-dishes {
        grid-gap: 90px 50px;
    }
}

.download-app {
    margin: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;
    }
    &__text {
        padding-left: 30px;
        position: relative;
        flex: 1 1 250px;
        &__title {
            font-family: 'Patua One', cursive;
            font-size: 3.8rem;
            font-weight: 400;
            color: $primary-color;
            margin: 60px 0 40px 0;
        }
        &__paragraph {
            color: $primary-text-color;
            line-height: 1.4;
            font-size: 16px;
            text-align: left;
            word-break: break-word;
        }
        span {
            display: block;
            position: absolute;
            bottom: 40px;

            color: $primary-text-color;
            line-height: 1.4;
            font-size: 13px;
            text-align: left;
            word-break: break-word;
        }
    }
    &__img {
        flex: 1 1 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 375px;
        img {
            position: absolute;
            display: block;
            width: 250px;
            transform: translateX(-50px);
            &.mokup-inverse {
                width: 200px;
                transform: scaleX(-1) translateX(-70px);
                z-index: 1;
            }
        }
    }
    &__button {
        flex: 1 1 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        .accent-button {
            gap: 10px;
        }
        .icon-iconify {
            font-size: 24px;
            color: $secondary-text-color;
        }
    }
}

.who-we-are {
    margin-top: 50px;
    background-color: $secondary-container-color;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 60px 0;
    }
    &__text {
        flex: 1 1 250px;
    }
    &__title {
        font-family: 'Patua One', sans-serif;
        font-size: 4.2rem;
        font-weight: 400;
        color: $primary-color;
        letter-spacing: 2px;
        margin: 0 0 50px 0;
    }
    &__paragraph {
        color:  $primary-text-color;
        font-size: 17px;
        line-height: 1.6;
        max-width: 100%;
    }
    &__img {
        flex: 2 1 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        img { 
            width: 400px;
            display: block;
        }
    }
}

.localization {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__paragraph {
        text-align: center;
        margin: 100px auto;
        width: 800px;
        color:  $primary-text-color;
        font-size: 16px;
        line-height: 1.6;
    }
    &__iframe {
        background-color: $secondary-container-color;
        iframe {
            width: 100%;
            height: 475px;
            display: block;
        }
    }
}

@media (max-width: 990px) {
    .hero {
        .container {
            flex-direction: column;
        }
        &__text {
            width: 100%;
            text-align: center;
            &__title {
                margin: 25px;
            }
            &__paragraph {
                .line-break {
                    display: none;
                }
            }
            &__link {
                width: 200px;
                gap: 15px;
                margin: 50px auto;
                img {
                    width: 34px;
                }
            }
        }
        &__img {
            order: -1;
            img {
                max-width: 300px;
                display: block;
            }
        }
    }
}


@media (max-width: 950px) {
    .download-app {        
        .container {
            padding-bottom: 20px;
        }
        &__text {
            padding-left: 0;
            &__title {
                margin: 40px 0 20px 0;
            }
        }
    }
}

@media (max-width: 572px) {
    .download-app {        
        .container {
            padding-bottom: 30px;
            text-align: center;
        }
        &__text {
            padding: 0 0 40px 0;
            &__title {
                margin: 30px 0 20px 0;
            }
            &__paragraph {
                text-align: center;
            }
            span {
                bottom: 0px;
            }
        }
        &__img {
            img {
                width: 225px;
                &.mokup-inverse {
                    width: 175px;
                    transform: scaleX(-1) translateX(-60px);
                }
            }
        }
    }

    .who-we-are {
        &__img {
            img {
                width: 300px;
            }
        }
    }
}