.main_inventory_page{
display:flex;
content: '';
background-color: #f4f4f4;
    
}

.inventory_container{
    width: 100%;
}

.inventory_title{
    a{        
        color: #ED2736;
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    width: 100%; 
    text-align: center;   
    margin-top: 45px;
    z-index: 2;
    position: absolute;
}

.container_inventory{
    width: 100%;
    display: flex;
    margin-left: 130px;
    margin-bottom: 14px;
    align-items: center;
    border-bottom: 4px solid #E0E0E0;
    margin-right: 200px;    
}

.content{
    display: flex; 
    background-color: #f4f4f4;
    z-index: 1;
    margin-top: 150px;
    width: 80%;
}


.inventory_text{
    font-size:20px;
    color: #3E3E3E;
    margin-left: 31px;
    margin-right: 20px;
    width: auto;
}

.quantity_border{
    border: 1px solid black;
    border-radius: 10px;
    width: 79px;
}

.quantity_inventory{
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
}
.container_inventory img{
    margin-bottom: 10px;
    width: 15%;
}

.title_total{
    font-size: 20px;
    color: #3E3E3E;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 37px;
    margin-top: 22px;
}

.border_total{
    display: flex;
    flex-direction: column;
    border: 1px solid #3E3E3E;
    border-radius: 73px;
    width: 40%;
    height: 50%;
    margin-left: 250px;

}

.total_text{
    margin-left: 31px;
    margin-bottom: 26px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #3E3E3E;
}

b{
    font-weight: 550;
}

