.manager_page{
    background-color: #F4F4F4;
    display: flex;
}

.manager_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #ED2736;
    margin-left: 85px;
    margin-top: 148px;
}

.manager_page_ul_list{
    a{
        text-decoration: none;
        color: #3E3E3E;
    }
    list-style-type: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.manager_page_li_list{
    margin-left: 83px;
    width: 365px;
}


